* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #000;
  line-height: 28px;
  margin: 0;
  padding: 0;
}

/* Header Parts Starts */
.header {
  color: purple;
  font-weight: 700;
}

.left img {
  border-radius: 20px;
}

.left img {
  width: 500px;
  height: 500px;
}
/* Header Parts Ends */

/* Money Manager Css Starts */
.money-manager {
  background-color: rgba(84, 87, 84, 0.116);
  padding: 5px;
  border-radius: 20px;
}

.heading {
  font-size: 17px;
  font-weight: 700;
  margin: 10px 0;
}

table {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  background-color: rgba(118, 122, 118, 0.233);
  color: #000;
  margin-left: 5px;
  margin-bottom: 3px;
  padding: 3px 15px;
  border-radius: 5px;
  font-weight: 700;
  border: none;
  width: 200px;
}

.calc-button {
  margin-top: 10px;
}

.calc-button,
.save-button {
  background-color: black;
}

.save input {
  width: 100px;
}
/* Money Manager Css Ends */

/* Error Message */
.notify-msg {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  background: rgba(27, 8, 151, 0.87);
  margin-top: 20px;
  border-radius: 15px;
  padding: 5px 20px;
  display: none;
}
.notify {
  width: 35%;
  margin: 0 auto;
}